<div class="container mt-5 mb-5 popular">
    <h4 class="slider-title" style="display: inline;">{{ title }}</h4>
    <a href="{{ link if link else '#' }}" style="float: right; text-decoration: none; color:rgb(255, 146, 118);">Tümünü Gör</a>
    <div class="row mt-3">
        {% for index, movie in movies.items() %}

        <div class="col col-md-3">
            <div class="card bg-dark text-white custom-card">
                <a href="#" class="custom-card-link" data-bs-toggle="modal" data-bs-target="#movieModal" onclick="dynamicModal(
                    `{{index}}`, 
                    `{{movie.title}}`, 
                    `{{movie.poster}}`, 
                    `{{movie.year}}`, 
                    `{{movie.director}}`, 
                    `{{movie.genre}}`, 
                    `{{movie.cast}}`, 
                    `{{movie.imdb_rating}}`, 
                    `{{movie.user_score}}`)"></a>
                <img src={{ movie.poster }} alt="" class="custom-card-image">
                <div class="custom-card-cover"></div>
                <div class="custom-card-text">
                    <h5 class="card-title p-3">{{ movie.title }} ({{ movie.year }})</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>