<div class="list mt-5">
    <form class="row">
        <div class="offset-5 col-5">
            <input id="search-bar" type="text" class="form-control bg-dark border-dark text-light"
                placeholder="Aramak istediğiniz kelimeleri girin">
        </div>
        <div class="col-2">
            <button id="search-button" class="btn btn-dark form-control"
                style="background-color: rgb(123, 49, 30); border:none" type="button">Filtrele</button>
        </div>
    </form>
    <table class="table table-borderless table-light mt-3 custom-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Afiş</th>
                <th scope="col">Ad</th>
                <th scope="col">Tür</th>
                <th scope="col">Çıkış Tarihi</th>
                <th scope="col">Puan/Oy</th>
                <th scope="col">İşlem</th>
            </tr>
        </thead>
        <tbody>
            {% for index, movie in movies.items() %}
            <tr>
                <th scope="row">{{ index }}</th>
                <td>
                    <img src={{ movie.poster }} style="max-height: 120px;" alt="">
                </td>
                <td>{{ movie.title }}</td>
                <td>{{movie.genre}}</td>
                <td>{{movie.year}}</td>
                <td>{{movie.rate}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Button group">
                        <button class="btn btn-dark" style="background-color: rgb(67, 68, 57); border:none;"
                            type="button" data-bs-toggle="modal" data-bs-target="#movieModal" onclick="dynamicModal(
                                `{{index}}`, 
                                `{{movie.title}}`, 
                                `{{movie.poster}}`, 
                                `{{movie.year}}`, 
                                `{{movie.director}}`, 
                                `{{movie.genre}}`, 
                                `{{movie.cast}}`, 
                                `{{movie.imdb_rating}}`
                            );">
                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </button>

                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class="row pagination mb-5">
        <div class="offset-6 col-4 align-content-end small" style="text-align: end;">
            1000 sonuç arasından 1-5 arası listeleniyor:
        </div>
        <div class="col-2 align-content-end" style="text-align: end;">
            <button class="btn btn-dark btn-sm" type="button">
                << </button>
                    <button class="btn btn-dark btn-sm" type="button">
                        < </button>
                            <button class="btn btn-dark btn-sm" type="button"> 1 </button>
                            <button class="btn btn-dark btn-sm" type="button"> > </button>
                            <button class="btn btn-dark btn-sm" type="button"> >> </button>
        </div>
    </form>
</div>

<script>
    $("#search-button").click(() => $(location).attr('href', '/movies/search/' + $("#search-bar").val() + '/1'))
    $("#search-bar").keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            console.log("sad")
            document.location = '/movies/search/' + $("#search-bar").val() + '/1'
        }
    });
    var movies = JSON.parse('{{ movies|tojson }}');
</script>