<!-- Modal -->
<div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="movieModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark p-2">
            <div class="modal-body">
                <button class="btn btn-close btn-close-white " data-bs-dismiss="modal" aria-label="Close"
                    style="position:absolute; top:0; right:0; z-index:3000" type="button"></button>
                <div class="row">
                    <div class="col-4">
                        <img id="banner" alt="" style="max-width: 100%; border-radius: 3px;">
                    </div>
                    <div class="col-8">
                        <h4 id="movie_name"></h4>
                        <hr>
                        <ul class="list-group small">
                            <li class="list-group-item" id="director"></li>
                            <li class="list-group-item" id="writer"></li>
                            <li class="list-group-item" id="genre"></li>
                            <li class="list-group-item" id="actors"></li>
                            <li class="list-group-item" id="rating"></li>
                        </ul>

                        <div class="row mt-4" style="margin-left: 5px;">
                            {% if is_login %}
                            <div class="col-6 form" style="display: flex;">
                                <select class="form-control " id="rate">
                                    {% for i in range(10) %}
                                    <option value={{i}}>{{i}}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-dark" style="background-color:rgb(123, 49, 30);" id="rate-submit">Gonder</button>
                            </div>
                            {% else %}
                            Oy vermek için giriş yapmanız gerekmektedir.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script defer>
    function dynamicModal(id, title, poster, year, director, genre, cast, imdb_rating) {

        $("#banner").attr("src", poster);
        $("#movie_name").html(title + " (" + year + ")");
        $("#director").html("<b>Yönetmen: </b>" + director);
        $("#genre").html("<b>Tür: </b>" + genre.toLocaleString());
        $("#actors").html("<b>Oyuncular: </b>" + cast.toLocaleString());
        $("#rating").html("<b>Puan: </b>" + imdb_rating);
        $("#rate-submit").click(() => {
            rate_movie(id, $("#rate").val());
        });
    }
</script>