<div class="list mt-5">
    <form class="row">
        <div class="offset-5 col-5">
            <input id="search-bar" type="text" class="form-control bg-dark border-dark text-light"
                placeholder="Aramak istediğiniz kelimeleri girin">
        </div>
        <div class="col-2">
            <button id="search-button" class="btn btn-dark form-control"
                style="background-color: rgb(123, 49, 30); border:none" type="button">Filtrele</button>
        </div>
    </form>
    <table class="table table-borderless table-light mt-3 custom-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Afiş</th>
                <th scope="col">Ad</th>
                <th scope="col">Tür</th>
                <th scope="col">Çıkış Tarihi</th>
                <th scope="col">Puan/Oy</th>
                <th scope="col">İşlem</th>
            </tr>
        </thead>
        <tbody>
        
            {% for index, movie in movies.items() %}
            <tr>
                <th scope="row">{{ index }}</th>
                <td>
                    <img src={{ movie.poster }} style="max-height: 120px;" alt="">
                </td>
                <td>{{ movie.title }}</td>
                <td>
                    {% for val in movie.genre %}
                        {{val}}
                    {% endfor %}
                </td>
                <td>{{movie.year}}</td>
                <td>{{movie.imdb_rating}}</td>
                <td>
                        <button class="btn btn-dark" style="background-color: rgb(67, 68, 57); border:none;"
                            type="button" data-bs-toggle="modal" data-bs-target="#movieModal" onclick="dynamicModal(
                                `{{index}}`, 
                                `{{movie.title}}`, 
                                `{{movie.poster}}`, 
                                `{{movie.year}}`, 
                                `{{movie.director}}`, 
                                `{{movie.genre}}`, 
                                `{{movie.cast}}`, 
                                `{{movie.imdb_rating}}`, 
                                `{{movie.user_score}}`
                            );">
                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class="row pagination mb-5">
        <div class="offset-5 col-4 align-content-end small" style="text-align: end;">
            {{ total_movies }} sonuç arasından {{ (page-1)*5+1 }}-{{ (page)*5 }} arası listeleniyor:
        </div>
        <div class="col-3 align-content-end" style="text-align: end;">
            <button id="first-btn" class="btn btn-dark btn-sm" type="button" onclick="firstPage()">
                << </button>
                    <button id="prev-btn" class="btn btn-dark btn-sm" type="button" onclick="prevPage()">
                        < </button>
                             {{page}} ({{ total_page }})
                            <button id="next-btn" class="btn btn-dark btn-sm" type="button" onclick="nextPage()"> > </button>
                            <button id="last-btn" class="btn btn-dark btn-sm" type="button" onclick="lastPage()"> >> </button>
        </div>
    </form>
</div>
<script>
    $("#search-button").click(() => $(location).attr('href', '/movies/search/' + $("#search-bar").val() + '/1'))
    var movies = JSON.parse('{{ movies|tojson }}');
    
    if( "{{ 1 if page == total_page else 0 }}" == '1' ) {
        $("#next-btn").attr("disabled", "disabled");
        $("#last-btn").attr("disabled", "disabled");
    }
    if("{{ 1 if page == 1 else 0 }}" == '1') {
        $("#prev-btn").attr("disabled", "disabled");
        $("#first-btn").attr("disabled", "disabled");
    }

    function changePage(page) {
        $(location).attr('href', page);
    }
    function firstPage() {
        changePage(1);
    }
    function lastPage() {
        changePage("{{ total_page }}");
    }
    function prevPage() {
        changePage("{{ page - 1 }}");
    }
    function nextPage() {
        changePage("{{ page + 1 }}");
    }

    function rate_submit(movie_id, score) {
        var r = confirm("Puanı onaylıyor musunuz: " + score);
        if (r == true) {
            rate_movie(movie_id, score);
        }
    }

</script>