<nav class="navbar navbar-expand-lg navbar-light" style="background-color: none;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Watch-This</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies">Tüm Filmler</a>
                </li>
            </ul>
            <div class="d-flex">
                <div class="btn-group" role="group" aria-label="Button group">
                    {% if not is_login %}
                    <button class="btn btn-dark" style=" background-color:rgb(67, 68, 57); border: none; " type="submit" data-bs-toggle="modal" data-bs-target="#loginModal">Giriş Yap</button>
                    <button class="btn btn-dark" style="background-color: rgb(123, 49, 30); border: none;" type="submit" data-bs-toggle="modal" data-bs-target="#registerModal">Kaydol</button>
                    {% else  %}
                    <a class="btn btn-dark" style=" background-color:rgb(67, 68, 57); border: none; " href="/logout">Çıkış Yap</a>
                    {% endif  %}
                </div>
            </div>
        </div>
    </div>
</nav>