<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark p-2">
            <div class="modal-body">
                <form method="POST" action="/register">
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Kullanıcı Adı</label>
                    <input type="text" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Parola</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    
                    <button class="btn btn-dark" style="
                    background-color:rgb(123, 49, 30);
                    border: none;
                    " type="submit"
                    data-bs-toggle="modal" data-bs-target="#loginModal">Kaydol</button> 
                </form>
            </div>
        </div>
    </div>
</div>