<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark p-2">
            <div class="modal-body">
                <form method="POST" action="/register">
                    <div class="mb-3">
                    <label class="form-label">Isim</label>
                    <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="mb-3">
                    <label class="form-label">Kullanıcı Adı</label>
                    <input type="text" class="form-control" name="username" required>
                    </div>
                    <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" required>
                    </div>
                    <div class="mb-3">
                    <label class="form-label">Parola</label>
                    <input type="password" class="form-control" name="password" required>
                    </div>
                    
                    <button class="btn btn-dark" style="
                    background-color:rgb(123, 49, 30);
                    border: none;
                    " type="submit"
                    data-bs-toggle="modal" data-bs-target="#loginModal">Kaydol</button> 
                </form>
            </div>
        </div>
    </div>
</div>