{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class=" p-4 rounded mt-3" style="background-color: rgba(134, 136, 114, .5);">
        {% if not is_login %}
        <div class="not-logged">
            <h1 class="display-6 text-capitalize">film öneri sistemine hoşgeldiniz </h1>
            <p>
                Öneriya başlamak için giriş yapınız. <br>
            </p>
        </div>
        {% else %}
        <h5 class=" text-capitalize">film öneri sistemine hoşgeldiniz {{username}} </h5>
        {% endif %}

    </div>

    {% if is_login %}
    {% with title="Sizin İçin Önerdiğimiz Filmler", movies=recommended_movies  %}
    {% include 'components/movie_slider.html' %}
    {% endwith %}
    {% endif %}
    {% with title="Popüler Filmler", movies=top_movies  %}
    {% include 'components/movie_slider.html' %}
    {% endwith %}
    <!-- {% with title="Aksiyon Filmleri", movies=top_movies  %}
        {% include 'components/movie_slider.html' %}
    {% endwith %} -->
</div>
{% endblock %}